:root {
    scroll-behavior: smooth;
    --background-color: #ffffff;
    --primary-color: #233567;
    --secondary-color: #315B96;
    --tertiary-color: #FBC1BC;
    --light-color: #FBC1BC;
    --text-color: #000000;
}

/*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
* {
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--primary-color), transparent 25%);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}


/*--------------------------------------------------------------
  # Global Header
  --------------------------------------------------------------*/
.header {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px 0;
    transition: all 0.5s;
    z-index: 997;
    position: fixed;
}

.header .logo {
    line-height: 1;
}


.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--primary-color);
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
    color: white;
    background: var(--primary-color);
    font-size: 15px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 4px;
    transition: 0.3s;
    font-weight: 500;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
    color: white;
    background: color-mix(in srgb, var(--primary-color), transparent 15%);
}

@media (max-width: 1200px) {
    .header .logo {
        order: 1;
    }

    .header .btn-getstarted {
        order: 2;
        margin: 0 15px 0 0;
        padding: 6px 15px;
    }

    .header .navmenu {
        order: 3;
    }
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* Index Page Header
  ------------------------------*/
.index-page .header {
    --background-color: rgba(255, 255, 255, 0);
}

/* Index Page Header on Scroll
  ------------------------------*/
.index-page.scrolled .header {
    --background-color: #ffffff;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu .nav-link :hover {
        color: var(--secondary-color);
        text-decoration: underline;

    }

    .navmenu a,
    .navmenu a:focus,
    .navmenu .nav-link,
    .navmenu .nav-link :focus {
        color: var(--primary-color);
        padding: 18px 12px;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--primary-color);
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--primary-color);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu a,
    .navmenu a:focus,
    .navmenu .nav-link,
    .navmenu .nav-link :focus {
        color: white;
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }


    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--secondary-color);
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--primary-color);
        color: white;
        transform: rotate(180deg);
    }


    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: var(--primary-color);
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu>ul {
        display: block;
    }
}


/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.site-footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
}


/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
section,
.section {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 98px;
    overflow: clip;
}

@media (max-width: 1199px) {

    section,
    .section {
        scroll-margin-top: 56px;
    }
}

/*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.section-title h2 {
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: color-mix(in srgb, var(--primary-color), transparent 90%);
    color: var(--primary-color);
    display: inline-block;
    border-radius: 50px;
}

.section-title p {
    color: var(--heading-color);
    margin: 10px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title p .description-title {
    color: var(--primary-color);
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 80px 0 60px 0;
    display: flex;
    align-items: center;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.hero p {
    color: color-mix(in srgb, var(--text-color), transparent 30%);
    margin: 5px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.hero .btn-get-started {
    color: white;
    background: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    border-radius: 12px;
    transition: 0.5s;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-get-started:hover {
    color: white;
    background: color-mix(in srgb, var(--primary-color), transparent 15%);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 640px) {
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .hero p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
  # works Section
  --------------------------------------------------------------*/

.works .card {
    background-color: var(--primary-color);
    padding: 30px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    border: 0;
    border-radius: 20px;
}

.works .section-title .works .card img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
}

.works .card h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.works .card p {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.works .card:hover {
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}

.works .card:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
  # Benefit Section
  --------------------------------------------------------------*/
.benefit .icon-box {
    display: flex;
}

.benefit .icon-box h4 {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.benefit .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: var(--primary-color);
    margin-right: 15px;
}

.benefit .icon-box p {
    font-size: 0.9rem;
    font-weight: 500;
    color: color-mix(in srgb, var(--text-color), transparent 30%);
    margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Pricing Section
  --------------------------------------------------------------*/
.pricing .pricing-tem {
    background-color: var(--surface-color);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    height: 100%;
}

@media (min-width: 1200px) {
    .pricing .pricing-tem:hover {
        transform: scale(1.1);
        box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    }
}

.pricing h3 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.pricing .price {
    font-size: 36px;
    color: var(--primary-color);
    font-weight: 600;
}

.pricing .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .price span {
    color: color-mix(in srgb, var(--text-color), transparent 50%);
    font-size: 16px;
    font-weight: 300;
}

.pricing .desc {
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: justify;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: var(--text-color);
    justify-content: center;
    text-align: left;
    font-size: 0.9rem;
    margin: 0 20px 40px 20px;
}

.pricing ul li {
    padding-bottom: 4px;
}

.pricing ul .na {
    color: color-mix(in srgb, var(--text-color), transparent 70%);
    text-decoration: line-through;
}

.pricing .btn-buy {
    display: inline-block;
    padding: 8px 0;
    width: 200px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    transition: none;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.3s;
    border: 1px solidvar(--primary-color);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.pricing .btn-buy:hover {
    background: var(--secondary-color);
    color: white;
}

.pricing .featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: var(--primary-color);
    color: white;
}

/*--------------------------------------------------------------
  # Events Section
  --------------------------------------------------------------*/
.event .event-item {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.event .event-item .event-img img {
    transition: 0.5s;
}

.event .event-item .event-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
}

.event .event-item .event-content {
    padding: 30px;
}

.event .event-item .event-title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
}

.event .event-item .meta i {
    font-size: 16px;
    color: var(--primary-color);
}

.event .event-item .meta span {
    font-size: 15px;
    color: color-mix(in srgb, var(--text-color), transparent 50%);
}

.event .event-item hr {
    color: color-mix(in srgb, var(--text-color), transparent 80%);
    margin: 20px 0;
}

.event .event-item .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: color-mix(in srgb, var(--text-color), transparent 40%);
}

.event .event-item .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
}

.event .event-item:hover .event-title,
.event .event-item:hover .readmore {
    color: var(--primary-color);
}

.event .event-item:hover .event-img img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
  # Event Details Section
  --------------------------------------------------------------*/
.event-details {
    padding-bottom: 30px;
}

.event-details .event {
    background-color: var(--surface-color);
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.event-details .event-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}

.event-details .title {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 15px 0;
}

.event-details .content {
    margin-top: 20px;
}

.event-details .content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}